//Fonts
$font-main: 'Nunito Sans', sans-serif;
$font-secondary: "Next-Art";

//Colors
$white: #fff;
$black: #18121E;
$dark-green: #1A3E3E;
$pale-white: #F3F5F4;
$accent: #F2BE22;

//Sizes
$tablet: 1209px;
$mobile:  759px;

